body{
	width:1260px;
	margin:0 auto;
	background:#ffffff;
}
.navbar .navbar-default{
	margin-bottom:10px;
}
.breadcrumbs{
	border: 1px solid #C3DDEC; 
	margin-top:10px; 
	margin-left:10px;
	background-color: #ffffff;
	background-color: #EDF5FA;
    background-image: -moz-linear-gradient(center top , #FDFEFE, #EDF5FA);
    border-radius: 4px 4px 4px 4px;
    height: 46px;
    line-height: 50px;
    margin-bottom: 0;
    
    vertical-align: middle;
	
}

/*
	sidebar 스타일
*/
.main-container >.g371 {
	margin-left: 0px;
	margin-top: 10px;
	float: left;
}
.pb_sidebar{
	width:100%;
	height:786px;
}
.navbar{
	background-color: #ffffff;
}
.navlogo{
	margin-top: 10px;
}
.navinfo{
	margin-top: 20px;
	float: right;
}
.navlink{
	margin-right: 10px;
}
.divider{
	border-bottom: 1px solid #DDDDDD;
	width: 90%;
}
.sidebarheader{
	font-size: 20px;
	border-bottom: 1px solid #dddddd;
	margin-left: 10px;
	margin-right: 10px;

}
.col-xs-12
{
	border: 1px solid #DDDDDD; 
}
.row{
	margin-right: -20px;
}
/*
 * 추가 내용
 */
.col200 .g200{
	background-color: #FFFFFF;
    border: 1px solid #C3DDEC;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin-left: 0px;
}
.col371 >.col371-2{
	background-color: #FFFFFF;
    border: 1px solid #C3DDEC;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin-left: 0px;
    margin-right: 0px;
}
/*
.row .col-xs-8{
	margin-left: -2px;
	margin-right: -2px;
	border: none;
}*/
.row .g244{
	background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.pb_table{
	width:100%;
	height:776px;
	background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #C3DDEC;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.pb_table_content{
	width:100%;
	height:720px;
	background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #C3DDEC;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.panel-heading .label {
    float: right;
    padding: 0.4em 0.6em;
}
.panel-heading {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 0 0 1px;
    padding: 12px 20px;
}
.panel-default > .panel-heading {
    background-color: #EDF5FA;
    background-image: -moz-linear-gradient(center top , #FDFEFE, #EDF5FA);
    border-bottom: 1px solid #C3DDEC;
    color: #3784B1;
}
.pb_content_navi {
	background-color: #EDF5FA;
    background-image: -moz-linear-gradient(center top , #FDFEFE, #EDF5FA);
    border-radius: 4px 4px 4px 4px;
    height: 46px;
    line-height: 50px;
    margin-bottom: 0;
    padding: 0;
    vertical-align: middle;
}
/*
	추가내용 2
*/
.boxborder{
	border : 1px solid #C3DDEC;
	background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #C3DDEC;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.page-content > .row > .col-xs-8{
	padding: 0px;
}
/*
1월 9일 추가사항
*/
.panel-head{
	background-color: #5B96CB;
	padding:10px 12px;
	height:56px;
	border-radius: 4px;
}
.pb_sidebar > .panel-head{
	border-radius: 4px 4px 0 0;
}
.m10-navbar{
	margin-left: 10px;
	margin-top: 10px;
}

.panel_title
{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
    display: inline;
}
.panel{
	background-color: #ffffff;
	border : 1px solid #5B86CB;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.panel > .panel-content{
	padding:10px 12px;
}
.btn{
	border-radius:4px;
}

/*
	화면 줄였을 때의 contentarea 속성값 (margin)
*/
@media (max-width: 1665px){
	.contentarea{
		width: 891px;
		margin-left: 371px;
		padding-top:1px;
	}
}
/*
 화면 늘렸을 때의 속성값
*/
@media (min-width: 1665px){
	body{
		width:78%;
	}
	.contentarea{
		padding-left: 371px;
		padding-top:1px;
		width: 100%;
	}
	.contentarea-table{
		padding-left: 94px;
		padding-top:1px;
		width: 100%;
	}
	.col-xs-8{
		width: -moz-calc(100% - 256px);
	    width: -webkit-calc(100% - 256px);
	    width: -o-calc(100% - 256px);
	    width: calc(100% - 256px);
	    margin-left: 2px;
	}
	.g244
	{
		width: -moz-calc(100% - 256px);
	    width: -webkit-calc(100% - 256px);
	    width: -o-calc(100% - 256px);
	    width: calc(100% - 256px);
	}
	.g371
	{
		width: -moz-calc(100% - 256px);
	    width: -webkit-calc(100% - 256px);
	    width: -o-calc(100% - 256px);
	    width: calc(100% - 256px);
	}
	.g200
	{
		width:100%;
	}
}