.tableborder{
	border-top: none;
	border-right: 1px solid #dddddd;
}
.contentarea{
	padding-left:83px;
}

.g84{
	margin-top: 10px;
}
.contentarea {
    margin-left: 0px;
    padding-top: 1px;
    width: 1252px;
}
.input-group .form-control {
    margin-bottom: 0;
    width: -moz-calc(100% - 256px);
    width: -webkit-calc(100% - 256px);
    width: -o-calc(100% - 256px);
    width: calc(100% - 256px);
}
.table thead tr{
    background: #ececec;
}
tr > td > a {
    font-weight: bold;
    font-size: 12px;
    color:#5B96CB;
}
.panel-head{
    border-radius: 0px 4px 0px 0px;
}
.table thead tr th{
    font-size:14px;
    color:#747474;
}
.m10_left_top{
    margin-top: 10px;
    margin-left: 10px;
}
.tr td:first-child{
    padding-left: 16px;
}
.tr1 td:first-child{
    padding-left: 24px;
}

@media (max-width: 767px){
    .page-content{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 1665px){
    .contentarea{
        padding-left: 83px;
        width: 100%;
    }
}
